* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Gilroy';
    color: #20b24c;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(7, 4, 36);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor {
    height: 30px;
    width: 30px;
    background-color:#786a6a;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.1s ;
}
#cursor1 {
    height: 30px;
    width: 30px;
    background-color:#c71313;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.6s ;
}
#cursor2 {
    height: 30px;
    width: 30px;
    background-color:#480505;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.4s ;
}
#cursor3 {
    height: 30px;
    width: 30px;
    background-color:hsl(0, 49%, 88%);
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s ;
}
#cursor4 {
    height: 30px;
    width: 30px;
    background-color:#1f8a0a;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.5s ;
}
#cursor5 {
    height: 30px;
    width: 30px;
    background-color:#d65555;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.3s ;
}

h1 {
    font-size: 10vw;
    font-weight: 900;
}